/*GLOBALES*/

*{
box-sizing: border-box;
margin: 0;
padding: 0;
min-height: auto;
} /* Utilizado para quitar el border default*/

hr{
    margin-top: 10px;
}
.contenedor{
    width:80%;
    margin: auto;
} /*contenedor para ajustar el contenido al centro*/

.global-font{
    position: relative;
    text-align: center;
    font-weight: 100;
    font-family: 'EB Garamond', serif;
    /* para los titulos de las secciones utilizo la misma fuente y posición así que he creado una global*/
}
/*HEADER*/

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* utilizo grid (se que esto se puede hacer con el repeat () pero queria probar de hacerlo así)*/
    padding-top: 20px;
    padding-left: 30px;
}
.idioma-header{
    font-size: 17px;
    font-family: 'EB Garamond', serif; /*fuente descargada*/
}
.idioma-header select{
    font-family: 'EB Garamond', serif; /*fuente descargada*/
    font-size: 14px;
    border-radius: 10px;
    
}
header nav{
    grid-column: 2/4; /* extiende el contenido de las columnas*/
    
}
header nav a{
    margin-right: 20px;
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 15px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
}
header nav a:hover{
    text-decoration: rgb(73, 87, 92) underline; /*cuando ponga el cursosr encima, aparecerá una línea*/
}

.inicio-header{
    display: flex;
    column-gap: 20px;
}
.inicio-header a{
    text-decoration: none;
    color: rgb(109, 108, 108);
    font-weight: 200;
    border: dashed rgb(68, 68, 68) 1px;
    padding: 5px;
    border-radius: 10px;
}
.inicio-header a:hover{
    opacity: 0.3;
}
/*BUSCADOR*/
.buscador{

    text-align: center;
    margin-top: 30px;
    font-size: 20px;

}
.buscador input{
    border-radius: 15px;
    border:1px grey solid;
    height: 40px;
    width: 300px;
    margin-left: 10px;
}

.buscador button{
    margin-left: 10px;
    height: 40px;
    padding: 10px;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid rgb(117, 117, 117);
    text-transform: uppercase;
}
.buscador button:hover{
    opacity: 0.7;
}
::placeholder{
    padding-left: 10px;
    font-size: 13px;
}
/*MAIN*/

main{
    background-image: url(/IMG/Pc1.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-top: 20px;
}

.main-contenido{

    padding:73px;
    font-size: 17px;
}
main h1{
    position: relative;
    animation-name: titulo; /*  para crear una animación css animation*/
    animation-duration: 6s;
    font-weight: bold;
    font-family: 'Merriweather', serif; 
}
main p{
    position: relative;
    animation-name: parrafo;
    animation-duration: 6s;  
    font-family: 'Merriweather', serif;
    font-weight: 200;
}
/*animacion*/
@keyframes titulo{

  from{opacity: 0%;}
  to {opacity: 100%;}
}

@keyframes parrafo{ 

    from {margin-right:1000px;}
    to {margin-right: 0px;}
}

/*seccion de cursos*/
section h1{
    padding:32px;
}
.seccion-cursos{

    display: flex;
    width: 100%;
    column-gap: 17px;
    margin-top: 20px;
    
}
.seccion-cursos img{
    width: 100%;
    height: 70%;
    border-radius: 22px; /*hacerlo más redondo*/
}
.contenido h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.contenido p{
    text-align: center;
    line-height: 22px;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    font-size: 18px;
}
.btn{
    margin-top: 15px;
    background-color: rgb(212, 205, 205);
    text-align: center;
    border-radius: 10px;
    padding:8px;
}
.btn a{
text-decoration: none;
color: black;
}

.btn:hover{
    opacity: 0.5; /*opacidad al pasra por encima*/
}

/*banner*/
.imagenes{
 background-color: rgb(240, 240, 240);   
 padding: 20px;
 
}
.banner1 h1{
    margin-top: 60px;
    margin-bottom: 20px;
    
}
.banner1 div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.banner1 img{
    width: 40%;
    border-radius: 20px;
}
.banner1 h2{
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 54px;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* le he dado sombreado a la caja VS. para dar efecto 3d*/
 }
 /*redes*/

 .social{
    margin: 50px;
    
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: underline;

}
.links{
    display:flex;
    justify-content: center;
    align-items: center;

}
.links a{
    margin-left: 30px;
    margin-right: 30px;

}

.links a i{
    font-size: 3rem;
    color: rgb(39, 38, 38);
}

/*footer*/

footer nav{
    text-align: center;
    padding: 30px;
}
footer nav a{
    margin-right: 20px;
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 15px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
}
footer nav a:hover{
    text-decoration: rgb(73, 87, 92) underline;
}

footer p{
    font-family: 'EB Garamond', serif;
    text-align: center;
}


